.accordion-wrapper {
    padding: 30px;
}

.accordion {
    position: relative;
    width: 100%;
    background: $grey;
    margin-bottom: 30px;
    border: 0;
    border-left: solid 4px $red;
    border-radius: 2px;
    padding: 16px 30px 16px 60px;
    text-align: left;
    font-weight: 700;
    color: $transparent-black;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 4px $black-shadow;
    transition: $standard-transition;

    &.active {
        background: $red;
        border-left: solid 4px $black-disabled;
        color: $transparent-white;
        transition: $standard-transition;

        .accordion-icon {
            filter: invert(100%);
            transition: $standard-transition;
        }
    }

    &-icon {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 60px;
        padding: 20px;
        height: 100%;
        justify-content: center;
        align-items: center;

        &:focus {
            outline: 0;
        }
    }

    &:hover {
        background: $red;
        color: $transparent-white;
        border-left: solid 4px $black-disabled;
        box-shadow: 0 4px 16px $black-shadow;
        transition: $standard-transition;

        .accordion-icon {
            filter: invert(100%);
            transition: $standard-transition;
        }
    }
}

.accordion-text {
    padding: 0 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media screen and (min-width: 1200px) {
    .block-accordion {
        margin-top: 0px;
    }
}