.item {
    opacity: 0;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: opacity 1s ease, transform 1s ease; 
}

.item.in-view {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; 
} 