body {
    background: $grey;
    background-image: url(../assets/images/background.svg);
    background-size: 60px 70px;
    font-family: $body-font;
    font-feature-settings: "kern" 1,"liga" 1,"onum" 1;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: $transparent-black;
    font-size: $fontsize-p;
    font-weight: 400;
    line-height: 1.7;
}

*:focus {
    outline-color: $red !important;
}

h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: $fontsize-h1;
    line-height: 0.6;
    font-family: $heading-font;
    color: $transparent-white;
    text-shadow: 2px 0px 80px $transparent-black;
}

h2 {
    margin: 30px 0;
    text-align: center;
    font-size: $fontsize-h2;
    line-height: 1.2;
    color: $transparent-black;
    font-family: $head-font;
}

h3 {
    font-size: $fontsize-h3;
    font-weight: 700;
    line-height: 1.3;
    color: $transparent-black;
    font-family: $head-font;
}

h4 {
    font-size: $fontsize-h4;
    line-height: 1.4;
    color: $transparent-black;
    font-family: $head-font;
}

p {
    margin-bottom: 30px;
}

a {
    color: $transparent-black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $red;
    }
}

.hidden {
    display: none;
}

.dark-bg {
    background: $red-background;
    color: $transparent-white;
    text-decoration: none;

    a {
        color: $transparent-white;
        text-shadow: 0 1px 1px $red;

        &:hover {
            color: $transparent-white;
            border-bottom: solid 2px $transparent-white;
        }
    }
}

.white-bg {
    background: $white;
    box-shadow: 0px 0px 48px $black-shadow;
    border-radius: 2px;
}

.block-left, .block-right {
    margin: 0 auto;
    padding: 60px 30px;
    max-width: 510px;
}

.img-block-right, .img-block-left {
    margin: 30px 0;
    width: 100%;
    height: 50vh;
}

.heading-icon {
    height: 36px;
    margin-right: 15px;
}

@media screen and (min-width: 576px) {
    main.container {
        margin: 30px auto;
    }
}

@media screen and (min-width: 768px) {
    .block-center {
        padding: 0 15px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        margin: 60px 0;
    }

    .block-left, .block-right {
        padding: 30px 60px;
        max-width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .img-block-right, .img-block-left {
        margin: 60px 0;
        width: 570px;
        height: 570px;
    }
}