.event-card {
    $ec: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black-shadow;

    #{$ec}-img {
        position: relative;
        min-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 15px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: inset 0px 0px 48px $black-shadow;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-height: 170px;
            max-width: 210px;
            transform: translate(-50%,-50%) ;
        }
    }

    #{$ec}-description {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;

        #{$ec}-heading {
            padding: 15px 0;
            font-size: $fontsize-h4;
            
            &:hover {
                color: $red;
            }
        }

        #{$ec}-details {
            display: flex;
            flex-direction: column;
            font-size: $fontsize-small;

            span {
                display: flex;
            }
        }
    }

    &__clock, &__marker {
        width: 16px;
        height: 16px;
    }

    &__clock {
        margin: 5px 8px 0 0;
    }

    &__marker {
        margin: -2px 8px 0 0;
    }
}

@media screen and (min-width: 576px) {

    .event-card-wrapper {
        padding: 0 30px 15px;
    }

    .event-card {
        $ec: &;
        min-height: 210px;
        box-shadow: 0 0 4px $black-shadow;
        margin: 15px;
        border: 0;
        border-left: 4px solid $red;
        border-radius: 2px;
        transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 16px $black-shadow;
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        &.old {
            border-left: 4px solid $black-disabled;
        }

        #{$ec}-description {
            padding: 0 15px 0 30px;
        }

        #{$ec}-img {
            position: relative;
            min-width: 120px;
            width: 120px;
            height: 120px;
            margin: 15px 30px 15px 0;                        
        }
    }
}