.footer {
    text-align: center;
    margin: 60px auto;

    p:first-of-type {
        font-weight: 700;
        text-transform: uppercase;
    }

    .footer-about, .footer-contact {
        margin-bottom: 60px;
    }

    .footer-links {
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

.footer, .copyright {
    max-width: 768px;
}

.sponsors {
    min-height: 120px;
    display: flex;
    align-items: center;
    background: $transparent-white;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
    }
}

.copyright {
    height: 68px;
    padding: 19px 0 19px 15px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer {
        text-align: left;

        .footer-about, .footer-contact {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 992px) {
    .footer, .copyright {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        max-width: 1170px;

        .footer-about {
            padding-left: 60px;
        }

        p:first-of-type {
            font-weight: 700;
        }
    }
    .copyright {
        padding: 19px 60px;
        max-width: 1170px;
    }
}