.social-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    height: 36px;

    .icon {
        position: absolute;
        width: 36px;
        height: 36px;
        margin: 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: calc(100% - 10px);
            max-height: calc(100% - 12px);
            opacity: 0.85;
        }
    }

    .youtube {
        right: 0;
        background: #c4302b;
    }

    .facebook {
        right: 88px;
        background: #3b5998;
    }

    .instagram {
        right: 44px;
        background: #d10869;
    }
    
    /*
        Bílý gradient hlavního menu
    */
    &:after {
        content: '';
        position: absolute;
        background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
        right: 0;
        top: 40px;
        width: 40px;
        height: 40px;
        z-index: 2;
    }
}

.main-menu {
    height: 60px;
    border-bottom: 1px solid $grey;
    padding: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    .sub-menu {
        display: none;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        padding: 14px 0 18px;
        transition: background-color 200ms;

        &:hover {
            background-color: $light-grey;
            transition: background-color 200ms;
        }
    }

    li.current-menu-item {
        background-color: $light-grey;
        color: $red;

        a {
            color: $red;
        }
    }

    a {
        padding: 0 15px;
        text-decoration: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .social-menu {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .social-menu {
        max-width: 1170px;
    }

    .main-menu {
        a {
            padding: 0 25px;
        }
    }
}