.hero {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 96px);
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black-shadow;
        box-shadow: inset 0px 8px 24px $black-shadow;
        z-index: 2;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        min-height: 100%;
        transform: translate(-50%,-50%);
    }

    .hero-heading {
       z-index: 3;
    }

    @media screen and (min-width: 768px) {
        .hero-heading {
            width: 50%;
        }
    }
}

.hero-logo-wrapper {
    min-height: 0;
}

.hero-logo {
    background: $red-background;
    height: 106px;
    width: 168px;
    position: absolute;
    top: 0;
    left: 16px;
    z-index: 2;
    padding: 24px 18px;
    box-shadow: inset 0px 8px 24px rgba(124, 124, 124, 0.3);
    border-radius: 0 0 2px 2px;
    z-index: 3;

    img {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 576px) {
        left: 0;
    }
}

.fill {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: calc(25vh + 150px);
}