/*
    Detail příspěvku
*/

.post.hero:before {
    box-shadow: inset 0px -100px 100px rgba(0,0,0,0.5);
}

.post-heading-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 2px;
    padding: 30px;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.15);
    background: $white;
    z-index: 3;
    color: $transparent-black;
    text-shadow: 0 0 4px $transparent-white;
    overflow: hidden;

    .post-heading {
        height: 100%;
        margin: auto 0;
        padding: 15px 30px 15px 15px;

        h2 {
            margin: 0;
            color: $transparent-black;
            text-align: left;
            font-weight: 700;
        }

        a {
            color: $transparent-black;
            text-decoration: none;

            &:hover {
                color: $red;
            }
        }
    }

    .post-excerpt {
        padding: 20px 15px 30px;
        overflow: hidden;

        .post-details {
            display: flex;
            flex-wrap: wrap;
            font-size: $fontsize-small;
            text-transform: uppercase;

            span {
                display: flex;
                flex-wrap: wrap;
                padding-right: 30px;
            }

            .post__date, .post__category, .post__tags {
                width: 16px;
                height: 16px;
            }

            .post__date, .post__category, .post__tags {
                margin: 5px 8px 0 0;
            }
        }
    }

    @media screen and (min-width: 768px) and (min-height: 550px) {
        position: absolute;
        flex-wrap: nowrap;
        bottom: 30px;
        max-height: calc(100vh - 240px);

        .post-heading {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 330px;
        }

        .post-excerpt {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            max-width: 720px;
            padding: 15px 15px 15px 45px;

            p:last-of-type {
                margin: 0;
            }
        }
    }
}

.post-content {
    padding: 45px 30px;

    p {
        margin: 30px auto;
        max-width: 720px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/*
    Výpis příspěvků
*/

.post-card {
    $pc: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black-shadow;

    #{$pc}-img {
        position: relative;
        min-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 15px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: inset 0px 0px 48px $black-shadow;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__date, &__category, &__tags {
        width: 16px;
        height: 16px;
    }

    &__date, &__category, &__tags {
        margin: 5px 8px 0 0;
    }

    #{$pc}-description {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;

        #{$pc}-heading {
            padding: 15px 0;
            font-size: $fontsize-h4;
        }

        #{$pc}-details {
            display: flex;
            flex-direction: column;
            font-size: $fontsize-small;
            text-transform: uppercase;

            span {
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 576px) {

    .post-card-wrapper {
        padding: 0 30px 15px;
    }

    .post-card {
        $pc: &;
        min-height: 210px;
        box-shadow: 0 0 4px $black-shadow;
        margin: 15px;
        border: 0;
        border-left: 4px solid $red;
        border-radius: 2px;
        transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 16px $black-shadow;
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        #{$pc}-description {
            padding: 0 15px 0 30px;
        }

        #{$pc}-img {
            position: relative;
            min-width: 120px;
            width: 120px;
            height: 120px;
            margin: 15px 30px 15px 0;                        
        }
    }
}

/*
    Stránkování
*/

.post-pagination {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 30px 15px;
    text-transform: uppercase;
    background-color: $light-grey;

    .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        box-shadow: 0 0 4px $black-shadow;
        margin: 0 10px;
        padding: 15px;
        border-radius: 50%;
        background-color: $transparent-white;
        transition: $standard-transition
    }

    .dots {
        display: none;
    }

    .current {
        background-color: $red;
        color: $transparent-white;
    }

    .prev, .next {
        display: flex;
        position: absolute;
        box-shadow: none;
        background: 0;
        margin: 0;

        &:before {
            display: none;
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    &__left, &__right {
        width: 16px;
    }

    @media screen and (min-width: 992px) {
        .dots {
            display: flex;
        }

        .prev, .next {
            margin: 0 10px;

            &:before {
                display: flex;
                position: absolute;
                top: 5px;
                font-family: $body-font;
            }
        }
        
        .prev {
            left: 10px;

            &:before {
                content: 'předchozí';
                left: 52px;
            }
        }

        .next {
            right: 10px;

            &:before {
                content: 'další';
                right: 52px;
            }
        }
    }
}