.img-block {
    overflow-y: hidden;
}

.img-block img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.uchiwa {
    background: url('../assets/icons/uchiwa-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -3vw;
}

.kabuto {
    background: url('../assets/icons/kabuto-bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 1200px) {
    .kabuto {
        background: url('../assets/icons/kabuto-bg.svg');
        background-size: 140%;
        background-position: left;
    }
}