/* Typografie */

@font-face {
    font-family: "Foxtrail";
    src: url('../assets/fonts/Foxtrail-Script.woff') format('woff'),
         url('../assets/fonts/Foxtrail-Script.ttf')  format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Carrig Display";
    src: url('../assets/fonts/CarrigDC-Display.woff') format('woff'),
         url('../assets/fonts/CarrigDC-Display.ttf')  format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Carrig Display";
    src: url('../assets/fonts/CarrigDC-Regular.woff') format('woff'),
         url('../assets/fonts/CarrigDC-Regular.ttf')  format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Carrig Display";
    src: url('../assets/fonts/CarrigDC-Bold.woff') format('woff'),
         url('../assets/fonts/CarrigDC-Bold.ttf')  format('truetype');
    font-weight: 700;
}

$heading-font: Foxtrail, 'Lucida Handwriting', 'fantasy';
$head-font: Carrig Display, 'Libre Baskerville', 'Georgia', serif;
$body-font: 'Noto Sans', sans-serif;
$font-awesome: FontAwesome;
$material-icons: 'Material Icons';

/*
    Velikosti písma
*/

$fontsize-h1: calc(10vh + 5vw);
$fontsize-h2: 30px;
$fontsize-h3: 24px;
$fontsize-h4: 21px;
$fontsize-h5: 19px;
$fontsize-p: 18px;
$fontsize-small: 16px;

/*
    Proměnné barev
*/

$black: #000;
$transparent-black: rgba(0,0,0,0.87); // Pro písmo
$black-disabled: rgba(0,0,0,0.38); // Neaktivní ikony
$black-shadow: rgba(0,0,0,0.12); // Pro oddělovače, vnitřní stíny
$grey: #ececec;
$light-grey: rgba(0,0,0,0.04);
$white: #fff;
$transparent-white: rgba(255,255,255,0.95);

$red: #DC3023;
$red-background: linear-gradient(to bottom right, #cb2d3e, #dc3023);

/*
    Misc
*/

$standard-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);